# Dependencies
node_modules
/jspm_packages

# Build artifacts
/build
/dist
/out
/docs
.next/ # For Next.js projects

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS and Editor files
.DS_Store # macOS files
.idea/ # JetBrains IDEs configuration
.vscode/ # VS Code configuration
*.iml # IntelliJ IDEA files

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing and coverage
/coverage

# Optional caches
.eslintcache
.npm
.yarn-cache
.pnpm-store

# Output of 'npm pack'
*.tgz

# TypeScript cache
.tsbuildinfo
